{
  "facebook": [
    {
      "app_id": "obtain-app-id-from-facebook",
      "app_secret": "obtain-app-secret-from-facebook"
    },
    {
      "app_id": "obtain-app-id-from-facebook",
      "app_secret": "obtain-app-secret-from-facebook"
    },
    {
      "app_id": "obtain-app-id-from-facebook",
      "app_secret": "obtain-app-secret-from-facebook"
    }
  ],
  "vimeo": {
    "access_token": "obtain-access-token-from-vimeo"
  },
  "youtube": {
    "api_key": "obtain-api-key-from-youtube"
  }
}